:root {
    --fs-logo-desktop: 1.9rem;
    --fs-logo-tablet: 1.229rem;
    --fs-logo-tablet-humb: 1.5rem;
    --fs-normal: 1.6rem;
    --fw-100: 100;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --lh-80: 80%;
    --lh-120: 120%;
    --lh-130: 130%;
    --lh-140: 140%;
    --clr-green: #4B9200;
    --clr-orange: hsla(32, 99%, 54%, 1);
    --clr-orange_dark: hsla(29, 93%, 46%, 1);
    --clr-yellow: #ffee2e;
    --clr-black_blue:hsla(206, 12%, 23%, 1);
    --clr-black: hsla(0, 0%, 0%, 1);
    --clr-grey: #BDBDBD;
    --clr-grey_smoky: #D9D9D9;
    --clr-light_gray: #F1F3F2;
    --clr-font-gray: #767474;
    --clr-red: #D31414;
    --clr-frosted_glass_white: rgba(253, 253, 255, 0.52);;
    --clr-pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --clr-orange_gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --clr-orange_gradient_dark: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-black);

}

a {
    text-decoration: none;
    color: var(--clr-light_gray);
}

li {
    list-style: none;
}

/* container */
.container {
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--clr-light_gray);
    position: relative;
}

/* header */
.header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 5;
    background-color: var(--clr-black);
}
.header-wrapper{
    width: 94%;
    margin: 0 auto;
    padding: .225rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-black);
    
}
.humburger {
    width: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .2rem;
}

.humburger_item {
    width: 100%;
    height: 2px;
    background: var(--clr-light_gray);
    border-radius: 2px;
}

h1 {
    max-width: 4.6rem;
    display: inline-block;
    font-size: var(--fs-logo-tablet);
    font-weight: var(--fw-400);
    text-align: center;
    line-height: var(--lh-120);
}

.navbar,
.head_copyright {
    display: none;
    position: absolute;
}

/* when humburger clicked */
.change .header-wrapper {
    width: 100%;
    padding: 1rem 1rem 4rem;
    align-items: flex-start;
    background-color: var(--clr-light_gray);
}

.change .humburger_item {
    background: var(--clr-black_blue);
}

.change .humburger_item:nth-child(2) {
    display: none;
}

.change .humburger_item:nth-child(1) {
    transform: rotate(-45deg) translate(-.28rem, .28rem);
}

.change .humburger_item:nth-child(3) {
    transform: rotate(45deg);
}

.change h1 {
    max-width: 6.5rem;
    font-size: var(--fs-logo-tablet-humb);
    border: 1px solid var(--clr-orange_dark);
}

.change a {
    color: var(--clr-black);
}

.change h1>a,
a.active {
    color: var(--clr-orange_dark);
}

.change .header_tablet {
    display: flex;

    flex-direction: column;
    gap: 1.5rem;
}

.change .navbar {
    display: block;
    position: relative;
    padding-top: 1.5rem;
}

.change .navbar_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.change .navbar_list_item_link,
.head_copyright_link {
    font-size: var(--fs-normal);
    font-weight: var(--fw-400);
}

.active {
    color: var(--clr-orange_dark);
}



@media screen and (min-width: 768px) {
    .header {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
    }
    .header-wrapper{
        padding: 1.4rem 0;
    }
    .humburger {
        display: none;
        position: absolute;
    }

    .navbar,
    .head_copyright {
        display: flex;
        position: relative;
    }
    .head_copyright {
        grid-column: -1;
    }
    h1 {
        max-width: 8.2rem;
        padding: .221rem .475rem;
        font-size: var(--fs-logo-desktop);
        border: 1px solid var(--clr-light_gray);
    }

    .header_desktop {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        align-items: center;
    }

    .navbar {
        width: 79%;
    }

    .navbar ul {
        width: 98%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: var(--fs-normal);
        position: relative;
    }
}

@media screen and (min-width: 1440px) {
    .header-wrapper{
        width: 72.5%;
        padding: 1.4rem 0;
    }
    .navbar {
        width: 68%;
        position: relative;
        right: 3.6rem;
    }
}

/* section-1 watch online  1600px */
.watch-online {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: var(--clr-light_gray);
}

.bg-image {
    width: 100%;
    background: url(../../dis/images/Giant_Panda.png) no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 16/9;
    padding-top: 10.4vw;
    max-height: 78rem;
}
.whach-online_wrapper{
width: 72%;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr ;
}
.watch-online_text {
    position: relative;
    grid-column: -1;
    font-size: 10.65rem;
    line-height: 75%;
    color: var(--clr-light_gray);
    max-width: 8ch;
    text-align: center;
    z-index: 1;
}

.watch-online_text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-8.2rem, -7.4rem);
    width: 46.5rem;
    height: 46.5rem;
    border-radius: 50%;
    background: var(--clr-orange_gradient_dark);
    z-index: -1;
}

.watch-online_text span {
    color: var(--clr-yellow);
}

.watch-online_btn {
    grid-column: 2;
    margin: 6rem auto 10rem;
}

.btn {
    background: var(--clr-orange_gradient_dark);
    font-size: var(--fs-normal);
}

.btn span {
    position: relative;
    top: 30%;
    left: 32%;
}

.btn-b {
    width: 30rem;
    height: 5.4rem;
}
.btn-radius-b{
    border-radius: 25px;
}
.btn-radius-c{
    border-radius: 5px;
}

@media screen and (max-width: 1280px) {
    .whach-online_wrapper{
        width: 94%;
        }
    .bg-image {
        padding-top: 12.3vw;
    }
    .watch-online_text {
        font-size: 8.5rem;
    }

    .watch-online_text::before {
        transform: translate(-6.3rem, -5.5rem);
        width: 36.7rem;
        height: 36.7rem;
    }

    .watch-online_btn {
        margin: 4.2rem auto 4.6rem;
    }

 
}

@media screen and (max-width: 768px) {
    .watch-online_text {
        font-size: 5.43rem;
    }

    .watch-online_text::before {
        transform: translate(-4.1rem, -3.9rem);
        width: 23.8rem;
        height: 23.8rem;
    }

    .watch-online_btn {
        grid-column: -4;
        margin: -.8rem auto 4rem;
    }

    .bg-image {
        padding-top: 13vw;
    }
}


@media screen and (max-width: 600px) {
    .watch-online {
        margin-bottom:7.3rem;
        z-index: 3;
        position: relative;
        top: 3.4rem;
    }

    .bg-image {
        width: 100%;
        min-height: 18.7rem;
        display: block;
        padding: 4rem 0  0;
    }

    .watch-online_text {
        font-size: 2.8rem;

    }

    .watch-online_text::before {
        transform: translate(-2rem, -2rem);
        width: 12rem;
        height: 12rem;
    }

    .watch-online_btn {
        margin: 0 auto;
        max-width: 100%;
        inset: 0;
        display: block;
        position: absolute;
        top: 208px;
        z-index: 2;
    }
}


/* section-2  1600*/
.backstage {
    position: relative;
    background-color: var(--clr-light_gray);
    overflow: hidden;
    z-index: 1;
}

.backstage_content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 14rem 13.75% 17.5rem;

}

.backstage-articles {
    width: 100%;
    margin: 0 auto;
    max-width: 83ch;
}

.first-article>h2 {
    font-size: 4.8rem;
    font-weight: var(--fw-400);
    line-height: var(--lh-120);
    padding-bottom: 2rem;
}

.backstage_content p {
    font-size: var(--fs-normal);
    line-height: var(--lh-130);
}

.second-article>h3 {
    font-size: 2.4rem;
    font-weight: var(--fw-400);
    line-height: var(--lh-120);
    padding-top: 5.4rem;
    padding-bottom: 3.4rem;
}

.second-article>p {
    line-height: var(--lh-140);
}

.backstage_image {
    width: 100%;
    overflow: hidden;

}

.backstage_image img {
    object-fit: cover;
}

.flower-photo-1 {
    width: 29.3rem;
    height: 60rem;
    position: absolute;
    background: url(../../dis/images/flower_foto1.png) no-repeat;
    top: 1rem;
    right: -9rem;
}

@media screen and (max-width: 1440px) {
    .flower-photo-1 {
        display: none;
    }

    .backstage_content {
        gap: 3rem;
        padding: 10rem 3% 14rem;
    }

    .second-article p {
        max-width: 50ch;
    }

    .backstage_image img {
        height: 100%;
        object-fit: cover;
        object-position: -76px 12px;
    }
}

@media screen and (max-width: 980px) {
    .backstage_content {
        display: block;
        padding: 6rem 20% 8rem 2rem;
        text-align: start;
    }

    .backstage-articles {
        margin: 0;
        max-width: 86ch;
    }

    .backstage_image {
        display: none;
        position: absolute;
    }

    .flower-photo-1 {
        display: block;
        width: 16rem;
        height: 48rem;
        background: url(../../dis/images/flower_foto1.png) no-repeat;
        background-size: 100% 100%;
        right: -3rem;
        top: -.5rem;



    }

    .second-article>h3 {
        padding: 3.2rem 0 2rem 0.5rem;
    }

    .second-article p {
        max-width: 70ch;
    }
}

@media screen and (max-width: 600px) {
    .first-article>h2 {
        font-size: 2.4rem;
        padding-bottom: 1rem;
    }

    .flower-photo-1 {
        width: 10.8rem;
        height: 20.5rem;
        top: .3rem;
        right: -6.6rem;
        z-index: 5;

    }

    .backstage_content {
        padding-left: 1rem;
        padding-top: 6.5rem;
        padding-bottom: 3.8rem;
        padding-right: 5%;
    }

    .second-article>h3 {
        padding: 2.1rem 0 .9rem 0.3rem;
    }
}


/* section-3 pets-cards 1600 */
.pets {
    width: 100%;
    margin: 0 auto;
    background-color: var(--clr-light_gray);
    padding-bottom: 10rem;
    position: relative;
    overflow: hidden;
}

.pets-slider {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 14rem;
}

.pets-cards {
    width: 88%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 3rem;
}

.pets-card {
    width: 100%;
    margin: 0 auto;
    background: var(--clr-orange_gradient_dark);
    border-radius: 5px;
    padding: 1px;
}

.pets-card__image {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.pets-card__image img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.pets-card__info {
    padding: 1.2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.banana {
    background: url(../../dis/icons/banana-bamboo_icon.svg) no-repeat, var(--clr-light_gray);
    background-position: 97%;
}

.meat {
    background: url(../../dis/icons/meet-fish_icon.svg) no-repeat, var(--clr-light_gray);
    background-position: 97%;
}

.pets-card__info>h4 {
    font-size: var(--fs-normal);
    font-weight: var(--fw-500);
}

.pets-card__info>p {
    font-size: var(--fs-logo-tablet-humb);
    font-weight: var(--fw-400);
}

.arrow {
    cursor: pointer;
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    
}

.arrow-left {
    background: url(../../dis/icons/arrow-left.svg) no-repeat, var(--clr-orange_gradient_dark);
    background-position: center center;
    background-size: 100% 1.4rem;
}
.arrow-left:hover{
    background: url(../../dis/icons/arrow-left.svg) no-repeat, var(--clr-orange_dark);
    background-position: center center;
    background-size: 100% 1.2rem;
}
.arrow-left:active{
    background: url(../../dis/icons/arrow-left.svg) no-repeat, var(--clr-green);
    background-position: center center;
    background-size: 100% 1rem;
}

.arrow-right {
    background: url(../../dis/icons/arrow_right.svg) no-repeat, var(--clr-orange_gradient_dark);
    background-position: center center;
    background-size: 100% 1.4rem;
}
.arrow-right:hover{
    background: url(../../dis/icons/arrow_right.svg) no-repeat, var(--clr-orange_dark);
    background-position: center center;
    background-size: 100% 1.2rem;
}
.arrow-right:active{
    background: url(../../dis/icons/arrow_right.svg) no-repeat, var(--clr-green);
    background-position: center center;
    background-size: 100% 1rem;
}

.pets_btn {
    margin: 8rem auto 0;
    display: block;
}

.pets_btn span {
    top: 30%;
    left: 20%;
}

.plant-1 {
    width: 88rem;
    height: 46rem;
    position: absolute;
    background: url(../../dis/images/palm_foto.png);
    bottom: 0;
    left: -59rem;

}

.plant-2 {
    width: 37rem;
    height: 27.5rem;
    position: absolute;
    background: url(../../dis/images/strelitzia-1.png);
    bottom: 0;
    right: 0;

}

@media screen and (max-width: 1440px) {
    .pets-slider {
        padding: 0 8rem;
    }

    .plant-1 {
        width: 38.6rem;
        height: 20rem;
        background: url(../../dis/images/palm_foto.png);
        background-size: 100%;
        bottom: 0;
        left: -19.2rem;
    }

    .plant-2 {
        width: 24rem;
        height: 18rem;
        background: url(../../dis/images/strelitzia-1.png);
        background-size: 100%;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: 1280px) {
    .pets {
        padding-bottom: 14.2rem;
    }

    .pets-slider {
        padding: 0 3rem;

    }

    .pets-cards {
        width: 100%;
        row-gap: 9.2rem;
    }

    .arrow {
        position: absolute;
    }

    .arrow-right {
        right: 35.2%;
    }

    .arrow-left {
        left: 35.2%;
    }
}

@media screen and (max-width: 980px) {
    .pets-slider {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 800px) {
    .pets-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .pets-card:nth-child(3),
    .pets-card:nth-child(6) {
        display: none;
        position: absolute;
    }
}

@media screen and (max-width: 768px) {
    .pets {
        padding-bottom: 10.2rem;
    }

    .pets-card__info>h4 {
        font-size: 1.25rem;
    }

    .pets-card__info>p {
        font-size: 1.17rem;
    }

    .pets-card__info {
        padding: .8rem 1rem;

    }

    .arrow-right {
        right: 38%;
    }

    .arrow-left {
        left: 38%;
    }

    .pets_btn {
        margin: 6.05rem auto 0;
        display: block;
    }

    .plant-1 {
        left: -25rem;
    }

    .plant-2 {
        width: 17.5rem;
        height: 13rem;
    }
}

@media screen and (max-width: 600px) {
    .pets {
        padding-bottom: 10.2rem;
    }

    .pets-cards {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .pets-card__info>h4 {
        font-size: 1.25rem;
    }

    .pets-card__info>p {
        font-size: 1.17rem;
    }

    .pets-card__info {
        padding: .8rem 1rem;

    }

    .arrow {
        display: none;
        position: absolute;
    }

    .pets_btn {
        margin: 6.05rem auto 0;
    }

  
}
@media screen and (max-width: 500px){
    .pets {
        padding-bottom: 6.2rem;
    }
    .pets-slider{
        padding: 0 1.8rem;
    }
    .pets-card__info {
        padding: .9rem 1rem;

    }
    .plant-1 {
        width: 13.8rem;
        height: 7.2rem;
        left: -8rem;
    }

    .plant-2 {
        width: 8.5rem;
        height: 6.2rem;
        right: -1.8rem;
    }
    .pets_btn {
        margin: 2.2rem auto 0;
    }
}


/* pick and feed friends 1600px */

.pick-feed{
    width: 100%;
    margin: 0 auto;
    padding: 7rem 22rem 10rem;
    background: var(--clr-orange_gradient);
}
.pick-feed_container{
    width: 100%;
    margin: 0 auto;
    background: var(--clr-frosted_glass_white) ;
    border-radius: 20px;
    padding-bottom: 6rem;
}
.pick-feed_text{
    width: 100%;
}
.pick-feed_text > h3{
    font-size: 4.8rem;
    font-weight: var(--fw-400) ;
    color: var(--clr-orange);
    text-align: center;
    padding: 4rem 0 3rem;
}
.pick-feed_text  p{
    font-size: var(--fs-normal);
    margin-left: 10rem;
    line-height: var(--lh-130);
}
.pick-feed_text > p:nth-of-type(1) {
    font-size: 2.4rem;
    font-weight: var(--fw-400) ;
    margin-bottom: 4rem;
}
.pick-feed_text > p:nth-of-type(2){
    font-weight: var(--fw-500) ;
    margin-bottom: 1rem;
}
.pick-feed_text > p:nth-of-type(3){
    max-width: 96ch;
}
.pick-feed_text > p:nth-of-type(3) span{
    border-bottom: 2px solid var(--clr-orange);
}
.how-it-works{
    width: 100%;
    margin: 0 auto;
}
.how-it-works>h3{
    font-size: 3.6rem;
    font-weight: var(--fw-400) ;
    text-align: center;
    margin: 6rem 0 4rem;
}
.schema{
width: 50%;
margin: 0 auto;
position: relative;
display: flex;
justify-content: space-evenly;
gap: 3rem;
align-items:flex-start;
}
.schema-card_border{
    width: 16.8rem;
    height: 16.8rem;
    background: var(--clr-orange_gradient_dark);
    padding: 1px;
    border-radius: 5px;
}
.schema_photo_1{
   width: 100%;
   height: 100%;
    border-radius: 5px;
    background: url(../../dis/icons/pay.png) no-repeat, var(--clr-light_gray);
    background-position: center;
}
.schema_photo_3{
    width: 100%;
    height: 100%;
     border-radius: 5px;
     background: url(../../dis/icons/zoo.png) no-repeat, var(--clr-light_gray);
     background-position: center;
 }
 .schema_photo_4{
    width: 100%;
    height: 100%;
     border-radius: 5px;
     background: url(../../dis/icons/monkey.png) no-repeat, var(--clr-light_gray);
     background-position: center;
 }
 .schema_photo_2{
    width: 6.9rem;
    height: 16.8rem;
     border-radius: 5px;
     background: url(../../dis/icons/Vector.png) no-repeat;
     background-position: center;
    
 }
 .schema-card >p{
    font-size: var(--fs-normal);
    margin-top: 3rem;
    max-width: 18ch;
 }
 .pick-feed_btn{
    display: block;
    margin: 7rem auto 0;

 }
 .pick-feed_btn span{
    left: 25%;
 }

 @media screen and (max-width: 1440px) {
    .pick-feed{
        padding: 7rem 10rem 10rem;
    }
    .pick-feed_text  p{
        margin-left: 3%;
        margin-right: 3%;
    }
 }
 @media screen and (max-width: 1280px) {
    .pick-feed{
        padding: 3rem 3rem 5rem;
    }
    .pick-feed_text  p{
        margin-left: 5rem;
    }
    .pick-feed_text > h3{
        padding: 3rem 0 2rem;
    }
    .pick-feed_text > p:nth-of-type(1){
        margin-bottom: 1.8rem;
    }
    .pick-feed_text > p:nth-of-type(3), .pick-feed_text > p:nth-of-type(2){
        max-width: 89ch;
    }
    .how-it-works>h3{
        margin: 4.2rem 0 4rem;
    }
    .pick-feed_btn{
        margin: 8rem auto 0;
    
     }
     .pick-feed_container{
        padding-bottom: 5rem;
    }
}
@media screen and (max-width: 980px) {
    .pick-feed{
        padding: 2rem 0rem 2rem;
    }
    .pick-feed_container{
        padding-bottom:6rem;
    }
    .pick-feed_text > h3{
        padding: 1rem 0 1.6rem;
        font-size: 4.2rem;
        
    }
    .pick-feed_text  p{
        margin-left: 2rem;
    }
    .how-it-works>h3{
        margin: 2.8rem 0 2rem;
    }
    .pick-feed_btn{
        margin: 5rem auto 0;
    
     }
}
@media screen and (max-width: 768px) {
    .schema{
        width: 100%;
        justify-content: space-between;
        gap: 0;
        padding-left: 2rem;
        padding-right: 3rem;
    }

    .schema_photo_2{
        min-width: 9.5rem;
        height: 3rem;
         background: url(../../dis/icons/arrow.png) no-repeat;
         background-position: center;
         position: absolute;
         top: -2rem;
         transform: translateX(-4rem);
        
     }
}

@media screen and (max-width: 600px) {
    .pick-feed{
        padding: 2rem 1rem 2rem;
    }
    .pick-feed_container{
        padding-bottom: 4rem;
    }
    .pick-feed_text > p:nth-of-type(2),.pick-feed_text > p:nth-of-type(3){
        display: none;
    }
    .schema{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;
        padding: 0;
    }
    .schema_photo_2{
        min-width: 9.5rem;
        height: 3rem;
         background: url(../../dis/icons/arrow.png) no-repeat;
         background-position: center;
         position: absolute;
         top: auto;
         transform: translate(5.5rem,-3rem) rotate(85deg);
        
     }
     .schema-card >p{
        margin-top: 1rem;
        margin-bottom: 1rem;
     }
}
@media screen and (max-width: 320px){
   
    .pick-feed_text > h3{
        font-size: 2.4rem;
        padding-top: 1.8rem;
        padding-bottom: 1rem;
    }
    .pick-feed_text > p{
        margin-left: .6rem;
        text-align: center;
    }
    .how-it-works>h3{
        font-size: 2.4rem;
        margin: 1.8rem 0 2rem;
    }
    .pick-feed_text > p:nth-of-type(1){
        font-size: 1.8rem;
    }
    .schema-card p{
        max-width: 18ch;
        line-height: var(--lh-140);
    }
    .pick-feed_btn{
        margin: 3rem auto 0;
    
     }
     .pick-feed_btn span{
        left: 25%;
     }
}


/* testimonials cards 1600px */
.testimonials{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 14rem 13.75% 18rem;
    background: var(--clr-grey_smoky);
    overflow: hidden;
}
.testimonials_container{
    width: 100%;
}
.testimonials_container>h3{
    text-align: center;
    font-size: 3.6rem;
    font-weight: var(--fw-400);
    color: var(--clr-black_blue);
    margin-bottom: 5rem;
}
.testimonials_cards{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}
.testimonials_card_border{
    width: 100%;
    margin: 0 auto;
background: var(--clr-pink_gradient);
padding: 2px;
border-radius: 20px;
}
.testimonials_card{
    width: 100%;
    
    min-height: 100%;
    max-height: 38.5rem;
    padding: 1.2rem 1rem 0 1.5rem;
    background: var(--clr-light_gray);
    border-radius: 20px;
    overflow-y: hidden;
}
.testimonials_user{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.user-image{
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
}
.user-image img{
    width: 100%;
    object-fit: cover;
}
.user-info_name{
    font-size: var(--fs-normal);
}
.user-info_place{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--clr-grey);
    font-weight: var(--fw-300);
    display: flex;
    justify-content: space-between;
    gap: .3rem;
    align-items: center;
}
.dot{
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    background-color: var(--clr-grey);
}
.testimonials_rate{
    font-size: 1.5rem;
    color: var(--clr-font-gray);
}
.testimonials_rate span{
    display: block;
}

.range-slider {
    margin: 2rem auto 3.2rem;
    width: 52%;
    height: .8rem;
    position: relative;
    border-radius: 5px;
    background: var(--clr-pink_gradient);
    padding: 1px;
}
input[type=range] {
    width: calc(100% - 2px);
    appearance: none;
    outline: none;
    border-radius: 5px;
    position: absolute;
    top: 1px;
    left: 1px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
     background-color: rgba(245, 247, 246, 1);
    border-radius: 0.5rem;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    width: 19%;
    height: 6px;
    border-radius: 0.4rem;
    background-color: rgba(254, 144, 19, 1);
    cursor: pointer;
    appearance: none;
}

input[type=range]::-webkit-slider-thumb:active {
    background-color: rgba(75, 146, 0, 1);
}

input[type=range]:disabled {
    color: rgb(197, 197, 197);
    border-color: rgba(118, 118, 118, 0.3);
}

input[type=range]:active {
    background-color: rgba(254, 144, 19, 1);
    border-radius: 0.4rem;
}

.testimonials_btn{
    display:inline-block;
    position: relative;
}
.testimonials_btn span{
    position: absolute;
    top: 33%;
    left: 28%;
    width: 100%;
}
.leaf-photo{
    width: 30.5rem;
    height: 30.5rem;
    position: absolute;
    bottom: -82px;
    right: -112px;
    background: url(../../dis/images/leav_foto.svg);
    background-size: 100% 100%;
    transform: rotate(-150.3deg);
}
@media screen and (max-width: 1599px) {
    .testimonials{
        padding-left:6% ;
        padding-right: 6%;
    }
}
@media screen and (max-width: 1280px) {
    .testimonials{
        padding: 10rem 3% 13.8rem;
    }
    .testimonials_container>h3{
        margin-bottom: 3.2rem;
    }
    .testimonials_card_border:nth-of-type(2){
        display: none;
        position: absolute;
    }
    .range-slider {
        margin: 2.4rem auto 5rem;
        width: 42%;
    }
    .leaf-photo{
        width: 24rem;
        height: 24rem;
        position: absolute;
        bottom: -38px;
        right: -86px;
        background: url(../../dis/images/leav_foto.svg);
        background-size: 100% 100%;
        transform: rotate(-150.3deg);
    }
  
}
@media screen and (max-width: 980px) {
    .testimonials{
        padding-left:2% ;
        padding-right: 2%;
    }
    .testimonials_cards{
        gap: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    
    .testimonials{
        padding: 6rem 2rem 8rem;
    }
    .testimonials_cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .testimonials_card{
        max-height: 10.6rem;
    }
    .range-slider{
        display: none;
        position: absolute;
    }
    .testimonials_btn{
        display:block;
        width: 24rem;
        margin: 3.6rem auto 0;
        position: relative;
    }
    .leaf-photo{
        width: 14.7rem;
        height: 14.7rem;
        position: absolute;
        bottom: -40px;
        right: -58px;
    }
}
@media screen and (max-width: 600px){
    .testimonials{
        padding: 3rem 1rem 6rem;
    }
    .testimonials_container>h3{
       font-size: 2.4rem;
       margin-bottom: 2rem;
    }
    .testimonials_btn{
        margin: 2.6rem auto 0;
    }
    .testimonials_btn span{
        left: 23%;
    }
    .leaf-photo{
        width: 8rem;
        height: 8rem;
        position: absolute;
        bottom: -25px;
        right: -38px;
        transform: rotate(-164.3deg);
    }
}


/* footer 1600px */
.footer{
    max-width: 100%;
    margin: 0 auto;
    background: var(--clr-black);
    
}
.footer-container{
    width: 72.5%;
    margin: 0 auto;
    padding: 4rem 0 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
.footer-logo{
    grid-column:1/2 ;
    grid-row: 1/2;
    max-width: 8.2rem;
    max-height: 5.2rem;
    padding: .221rem .475rem;
    font-size: var(--fs-logo-desktop);
    border: 1px solid var(--clr-light_gray);
}
.btn-container{
    width: 100%;
    grid-column:  1/2;
    grid-row: 2/3;
    position: relative;
}
.footer_btn{
    display: block;
    position: absolute;
    bottom: .5rem;
}
.footer_btn span{
    top: 33%;
    left: 17%;
}
.footer-navbar{
    grid-column:  2/3;
    grid-row: 4;
    width: 100%;
    position: relative;
}

.socials{
    grid-column:  1/2;
    grid-row: 3/ span 4;
    width: 100%;
    margin:4.3rem auto 0;
}
.subscribe-form{
    grid-column:  3;
    grid-row: 1/2;
    width: 100%;
    margin-left: 2rem;
    padding-right: 2rem;

}
.footer-copyright_container{
    grid-column:  3;
    grid-row: 4;
    
    position: relative;
}
.footer-copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
   
}
.footer-copyright p{
    color: var(--clr-light_gray);
    font-size: var(--fs-normal);
    font-weight: var(--fw-100);
    line-height: var(--lh-130);
}
.footer-navbar .navbar_list{
    width: 100%;
    display: flex;
        justify-content: space-between;
    font-size: var(--fs-normal);
    position: absolute;
    bottom: .5rem;
    padding: 0 1.2rem;
}
.input-label{
    color: var(--clr-light_gray);
    font-size: 2.4rem;
    font-weight: var(--fw-400);
}
.subscribe-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 1.2rem;
}
input[type="email"]{
    width: 62%;
    height: 4.2rem;
    border: none;
    outline: none;
   padding-left: 1rem;
    background-color: var(--clr-black);
    color: #D9D9D9;
    border: 1px solid var(--clr-orange_dark);
}
.btn-submit{
    width: 35%;
    color: var(--clr-green);
    font-size: var(--fs-normal);
}
.socials-list{
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
    font-size: var(--fs-normal);
    gap: 1rem;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
}
.social-link i{
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
}
.social-link .icon-1{
    background: url(../../dis/icons/facebook.svg) no-repeat, var(--clr-grey) ;
    background-position: center center;
}
.social-link .icon-2{
    background: url(../../dis/icons/twitter.svg) no-repeat, var(--clr-grey) ;
    background-position: center center;
}
.social-link .icon-3{
    background: url(../../dis/icons/insta.svg) no-repeat, var(--clr-grey) ;
    background-position: center center;
}
.social-link .icon-4{
    background: url(../../dis/icons/youtube.svg) no-repeat, var(--clr-grey) ;
    background-position: center center;
}

@media  screen and (max-width: 1280px) {
    .footer-container{
        width: 94%;
        grid-template-columns: max(30%) max(37.5%) 1fr;
    }
    .footer-navbar .navbar_list{
        bottom: 0.2rem;
        padding: 0 1rem;
    }
    .subscribe-form{
        grid-column:  2/ span 3;
        grid-row: 1/2;
        width: 58.5%;
        margin: 0 auto;
        position: relative;
        left: 18.5%;
    
    }
    .subscribe-wrapper{
        padding-top: 1.4rem;
    }
    .footer_btn{
        bottom: 0rem;
    }
}
@media  screen and (max-width: 768px) {
    .footer-container{
        width: 94%;
        grid-template-columns: max(30%) max(37.5%) 1fr;
        grid-template-rows: repeat(5,1fr);
        padding: 1.5rem 0 2rem;
    }
    .footer-navbar{
        grid-column:  1/3;
        grid-row: 5;
        width: 74%;
        position: relative;
    }
    .footer-navbar .navbar_list{
        bottom: 0.5rem;
        padding:0;
    }

    .subscribe-form,.social-link span{
        display: none;
        position: absolute;
    
    }
    .socials{
        grid-column: 3;
        grid-row: 1/span 3;
        margin:0rem auto 0;
        position: relative;
    }
    .socials-list{
        gap: 2rem;
        position: absolute;
        right: 0;
    }
    .subscribe-wrapper{
        padding-top: 1.4rem;
    }
    .btn-container{
        width: 100%;
        grid-column:  1/3;
        grid-row: 2/4;
        position: relative;
    }
    .footer_btn{
        top: 30%;
    }
    .footer-copyright_container{
        grid-column:  2/span 3;
        grid-row: 5;
    }
}
@media  screen and (max-width: 600px) {
    .footer-container{
        width: 93.75%;
        grid-template-columns:1fr;
        grid-template-rows: repeat(11,1fr);
        padding: 2rem 0 2rem;
    }
    .footer-logo{
        grid-column:1;
        grid-row: 1/2;
        max-width: 100%;
        padding: 0;
        font-size: var(--fs-logo-desktop);
        border: none;
        text-align: center;
    }
    .footer-navbar{
        grid-column:  1;
        grid-row: 11;
        width: 92%;
        position: relative;
        margin: 0 auto;
    }
    .footer-navbar .navbar_list{
        bottom: -6px;
        padding:0;
    }

   
    .socials{
        width: 100%;
        grid-column: 1;
        grid-row: 3/4;
        margin:0 auto;
        position: relative;
    }
    .socials-list{
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        position: relative;
        right: 0;
    }
    .subscribe-wrapper{
        padding-top: 1.4rem;
    }
    .btn-container{
        width: 100%;
        grid-column:  1;
        grid-row: 5;
        position: relative;
    }
    .footer_btn{
        top: 18%;
    }
    .footer-copyright_container{
        grid-column:  1;
        grid-row: 8/10;
        top: 10px;
    }
    .footer-copyright p{
        font-size: 1.5rem;
    }
}




/* utility */
.btn:hover {
    background: var(--clr-orange_dark);
}
a:hover .social-icon,.btn:active{
    background-color: var(--clr-green);
}

.social-link:hover span, .footer-logo:hover span,.footer-navbar_list_item_link:hover,.footer-navbar_list_item_link.active {
    color: var(--clr-green);
}

.header a:hover{
    color: var(--clr-orange_dark);
}